* {
	font-family: Beaufort, serif;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #f0e6d2;
	background-color: black;
}

#bg-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('./assets/landing-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

#center {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

#landing {
	margin: 0 auto;
	text-align: center;
}

#landing .title {
	font-size: 4.375rem;
	line-height: 1;
	margin: 0;
}

#landing .body {
	max-width: 450px;
}

#landing #input-box {
	position: relative;
	max-width: 600px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #f0e6d2;
}

#landing #summoner-name-input {
	display: block;
	width: 100%;
	padding: 15px 150px 15px 15px;
	font-size: 20px;
	background: none;
	border: none;
	box-sizing: border-box;
	outline: none;
	color: #f0e6d2;
}

#landing #summoner-name-input::placeholder {
	color: darkgrey;
}

#landing #region-select {
	position: absolute;
	top: 0;
	right: 50px;
	margin: 10px 10px 0 0;
	height: 30px;
	cursor: pointer;
	color: #f0e6d2;
	background-color: transparent;
	border: 1px solid #f0e6d2;
	border-radius: 2px;
}

#landing #region-select option {
	color: black;
}

#landing #search-btn {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 10px 0 0;
	height: 30px;
	cursor: pointer;
	color: #f0e6d2;
	background-color: transparent;
	border: 1px solid #f0e6d2;
	border-radius: 2px;
}

/* Animations */
.blur {
	animation: blur 0.5s linear forwards;
	animation-delay: 0.75s;
}

@keyframes blur {
	to {
		filter: blur(5px);
	}
}

.fadein {
	animation: fadein 1.5s;
}

@keyframes fadein {
	0%   { opacity: 0; }
	55%  { opacity: 0; }
	100% { opacity: 1; }
}
